<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <img src="assets/homepage.jpg"  class="navbar-brand" >
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav> -->

<nav class="navbar navbar-light bg-light" style="display: fixed;">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets/headerimage.jpg" alt="" width="60" height="50">
      Swagatam PG
    </a>
    
    <span class="navbar-text">
      Contact Information- 9358428898,8279721689
    </span>
  </div>
</nav>